VITE_SUPABASE_URL=https://ewxhnzumaztxdqigjgxo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3eGhuenVtYXp0eGRxaWdqZ3hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NTczNDEsImV4cCI6MjA5NjUzMzM0MX0.CumtADChNpp65aRh6x54O08_3rOMio2OPRLSdR24RjE 